
* {
    font-family: "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    background-color: #fdbe23;
} 

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: #333;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #fdbe23;
  color: black;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

h1{
    font-size: large;
}

.main-title{
    font-size: xx-large;
    /*text-shadow: 2px 2px 5px #2361fd;*/
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 20px;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .player-table{
      width: 80%;
      height: 300pt;
      padding-left: 5px;
      margin: auto;

  }

  a{
      text-decoration: none;
      text-transform: uppercase;
      color: black;
  }

  .top-card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 80%;
    padding-left: 5px;
    padding-top: 35px;
    margin: auto;
    padding: 20px;
    padding-bottom: 20px;
    height: 25px;
    text-align: center;
  }
  .top-card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .top-card a:hover{
    color: #2361fd;
  }

  .card a:hover{
    color: #2361fd;
  }

  .main-profile{
      margin: auto;
}
.top-profile{
    padding: 30px;
    font-size: 100px;
    text-align: left;
}
.top-profile h1{
    font-size: xx-large;
}
.bottom-profile{
    padding-left: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    height: auto;
    display: table;
    width: 100%;
}
.left-profile{
    position: absolute;
    width: 35%;
    left: 0px;
    padding-left: 20px;
    font-size: large;
}
.right-profile{
    position: absolute;
    width: 65%;
    right: 0px;
}

.right-profile table{
    width: 80%;
    text-align: left;
    font-size: large;
}

.team-form{
  border-radius: 5px;
  padding: 40px;
  width: 45%;
  margin: auto;
}

#submit-button{
  border: 2px solid #2361fd;
  border-radius: 8px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
  cursor: pointer;
}

#submit-button:hover{
  background-color: wheat;
  color: #2361fd;
}

.team-form input[type=text],select{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}

.team-form input[type=submit]{
  padding: 20px;
  width: 100%;
}

.result{
  /*background-color: wheat;*/
  margin: auto;
  text-align: center;
}
chart{
  margin: 0 auto;
}