<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>
      <h3>
         <a href = "{{ url_for('show_all') }}">IPL POLL 2021</a>
      </h3>
      
      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}
		
      
      
      <table>
         <thead>
            <tr>
               <th>Favorite Player</th>
               <th>Predicted team for cup</th>
               
            </tr>
         </thead>

         <tbody>
            {% for player in players %}
               <tr>
                  <td>{{ player.fav_player_name }}</td>
                  <td>{{ player.predicted_team_for_cup }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
   </body>
</html>